<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">

        <button @click="addbox(color)" v-for="color in colors" v-bind:style="{backgroundColor: color}">
            {{color}}
        </button>
        <template v-if="boxs.length==0">
            <div>
                No box
            </div>
        </template>
        <template v-else>
            <div :style="{position: 'relative', width: '150px',borderStyle:'solid',borderWidth: '1px',backgroundColor: box.color}"
                v-for="(box,index) in boxs" :key="box.id">{{box.id}}.{{box.color}}
                <samp style="position: absolute; right: 0;">
                    <button @click="delBox(index)">-</button>
                    <button @click="upBox(index)" v-if="index!=0">^</button>
                    <button @click="dowBox(index)" v-if="index!=boxs.length-1">v</button>
                </samp>
            </div>
        </template>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                lastId: 0,
                colors: ['red', 'green',
                    'blue', 'pink',
                    'yellow', 'white'],
                selectColors: '',
                boxs: []
            },
            methods: {
                addbox: function (color) {
                    this.boxs.push({
                        id: this.lastId++,
                        color: color
                    });
                },
                delBox: function (index) {
                    this.boxs.splice(index, 1);
                },
                upBox: function (index) {
                    var temp = [this.boxs[index - 1], this.boxs[index]];
                    this.boxs.splice(index - 1, 2, temp[1], temp[0]);
                },
                dowBox: function (index) {
                    var temp = [this.boxs[index], this.boxs[index + 1]];
                    this.boxs.splice(index, 2, temp[1], temp[0]);
                }
            }
        });
    </script>
</body>

</html>