<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">

        <button v-on:click="addbox(color)" v-for="color in colors" v-bind:style="{backgroundColor: color}">
            {{color}}
        </button>
        <template v-if="boxs.length==0">
            <div >
                No box
            </div>
        </template>
        <template v-else>
            <div v-bind:style="{position: 'relative', width: '150px',borderStyle:'solid',borderWidth: '1px',backgroundColor: box.color}" 
            v-for="(box,index) in boxs" v-bind:key="box.id">{{box.id}}.{{box.color}}</div>
        </template>


    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                lastId: 0,
                colors: ['red', 'green',
                    'blue', 'pink',
                    'yellow', 'white'],
                selectColors: '',
                boxs: []
            },
            methods: {
                addbox: function (color) {
                    this.boxs.push({
                        id: this.lastId++,
                        color: color
                    });
                }
            }



        });
    </script>
</body>

</html>